*{
	border-radius: 0px !important;
}

.hidden{ // hides element from sighted users, but not screen readers;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	background-color: transparent !important;
	border-width:0px !important;
	text-indent: 100px;
}