@largeSize:	760px;

@spaceSize:	14px;

// COLORS
@blue: #1B457B;
@blueLight: #8daef7;
@yellow: #F3AD26;
@green: #3B4C10;
@red: #D80039;

@primaryColor:	@blue;
@secondaryColor:	@yellow;

@brand-primary:         @primaryColor;
@brand-success:         @green;
@brand-info:            @yellow;
@brand-warning:         @red;
@brand-danger:          @red;

@text-color:            @primaryColor;

@link-color:            @brand-primary;
@link-hover-color:      lighten(@link-color, 15%);

@backgroundColor: #FFFFFF;
@body-bg: @backgroundColor;
@secondaryBackgroundColor: #DBDBDB;

// TYPOGRAPHY
@fontSize: 18px;
@largeFontSize: 26px;
@largestFontSize: 34px;

@font-size-base: @fontSize;

@font-family-sans-serif: "futura-pt-condensed", Helvetica, Arial, sans-serif;
@heading-font-family: "futura-pt", Helvetica, Arial, sans-serif;
@headings-font-family: @heading-font-family;

// BORDERS
@borderWidth:	3px;
@borderColor:	@primaryColor;

@borderWidthThick: 6px;

@secondaryBorderColor: @secondaryColor;

// FORMS
@input-color: @primaryColor;
@legend-color: @primaryColor;


// NAVBAR
@navbar-default-bg: @secondaryBackgroundColor;
@navbar-default-border: @secondaryBorderColor;

@icon-font-path: "../../bootstrap/fonts/";